<!DOCTYPE HTML>
<!--
	Temp2
-->
<html>
<head>
    <title>Temp2</title>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no"/>
    <!--[if lte IE 8]>
    <script src="assets/js/ie/html5shiv.js"></script><![endif]-->
    <link rel="stylesheet" href="assets/css/main.css"/>
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="assets/css/ie8.css"/><![endif]-->
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="assets/css/ie9.css"/><![endif]-->
</head>
<body>

<!-- Header -->
<header id="header">
    <h1 class="sim-row-edit" data-type="text">Temp2</h1>
    <p class="sim-row-edit" data-type="text">
        A simple template for telling the world when you'll launch<br/>
        your next big thing. Brought to you by Temp2.
    </p>
</header>

<!-- Signup Form -->
<form id="signup-form" method="post" action="#">
    <input type="email" name="email" id="email" placeholder="Your number"/>
    <input type="submit" value="Continue"/>
</form>

<!-- Footer -->
<footer id="footer">
    <!--
    <ul class="icons">
        <li><a href="#" class="icon fa-twitter"><span class="label">Twitter</span></a></li>
        <li><a href="#" class="icon fa-instagram"><span class="label">Instagram</span></a></li>
        <li><a href="#" class="icon fa-envelope-o"><span class="label">Email</span></a></li>
    </ul>
    -->

    <ul class="copyright">
        <li class="sim-row-edit" data-type="text">&copy; Untitled.</li>
        <li class="sim-row-edit" data-type="text">Credits: Temp2</li>
    </ul>
</footer>

<!-- Scripts -->
<!--[if lte IE 8]>
<script src="assets/js/ie/respond.min.js"></script>
<![endif]-->
<script src="assets/js/main.js"></script>

</body>
</html>
